.movie-card {
  position: relative;
  height: 300px;
  width: 180px;
  margin: 0;
  color: #fff;
  border-radius: 6px;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: 10px 10px 56px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 56px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 56px -17px rgba(0, 0, 0, 0.75);
  transform: translateZ(-90px);
  transition: 0.4s ease-in-out; }
  .movie-card:hover {
    transform: rotateY(-90deg) translateZ(0px); }

.side {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  backface-visibility: hidden; }

.image-side {
  transform: translateZ(90px);
  background-size: cover; }

.view-trailer,
.star {
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  color: #c7c7c7; }
  .view-trailer:hover,
  .star:hover {
    color: azure; }

.detail-side {
  padding: 1rem;
  transform: rotateY(90deg) translateZ(90px);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover; }

.overview-text {
  font-size: 0.8rem; }

.favorite-error {
  font-size: 0.8rem;
  color: crimson; }
