.suggestion {
  background-color: #464e57;
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 16.9rem;
  color: #a7adb3;
  z-index: 0;
  cursor: pointer; }

.suggestion:first-child {
  border-top-left-radius: 0.4rem;
  padding-top: 1rem;
  border-top-right-radius: 0.4rem; }

.suggestion:last-child {
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem; }

.suggestion-list {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  font-size: 0.9rem;
  top: 3rem;
  left: 50%;
  margin: 0 0 0 -8.5rem;
  border: 1px solid #c6def4;
  border-radius: 0.5rem; }

.suggestion:hover {
  background-color: #3a4246;
  color: #d0d5d8;
  font-weight: bold; }
