.brand {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-family: xtreem; }

.navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed; }

i {
  margin-right: 0.5rem; }

.nav-btn-wrapper,
.nav-btns {
  display: flex;
  flex-direction: row;
  margin-right: 1rem; }

.nav-link {
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: #fff;
  margin: 1rem 0 0rem 2rem; }

.nav-link-register,
.nav-link-login {
  margin: 1.5rem 0 0 1.5rem;
  font-size: 1.2rem; }

.active {
  background-color: rgba(0, 0, 0, 0.5); }

.nav-link:hover {
  color: rgba(164, 211, 255, 0.5); }
