.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

.register-user {
  background-color: #05455575;
  padding: 2rem;
  border-radius: 1rem;
}

.register-header {
  display: flex;
  align-content: start;
  justify-content: center;
}

.register-title {
  font-family: xtreem;
  color: #83a8b1;
  margin: 0 0 2rem 0;
  letter-spacing: 10px;
  text-shadow: 1px 1px #999999;
  font-size: 3rem;
  padding: 3.5rem 0 0rem 0;
  z-index: 10;
  justify-self: center;
}

.register-icon-input {
  position: relative;
  height: max-content;
}

.fa-envelope-square,
.fa-user,
.fa-key {
  position: absolute;
  top: 1rem;
  left: 0.4rem;
  color: #999999;
  font-size: 1.2rem;
}

.register-name,
.register-email,
.register-password {
  height: 3rem;
  width: 25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  background: #afcfd7;
  border: 1px #01708b solid;
  padding-left: 2rem;
  transition: 0.3s linear;

  &:hover {
    box-shadow: 1px 1px 3px #bababa6d, 0 0 5px #6464d7;
    border: 1.1px #1a0c0c solid;
    background-color: #dcdcdc;
  }
}

.register-btn,
.register-browse {
  background-color: #077d9b;
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: rgb(42, 42, 102);
  cursor: pointer;
  transition: 0.3s linear;

  &:hover {
    color: #83a8b1;
    background-color: rgb(53, 116, 175);
  }
}

.error-message {
  margin: 0 0 0.5rem 0;
  text-align: center;
  color: crimson;
}

.register-buttons {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.fa-eye,
.fa-play {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.login-redirect {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #478898;
  cursor: pointer;
  transition: 0.3s;
}

.login-redirect:hover {
  text-decoration-line: underline;
  color: #00aad5;
}
