.jumbotron {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}

.jumbotron-half {
  height: 100vh;
  width: 50%;
}

.arrow-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 95%;

  color: rgb(158, 158, 158);
}

.arrows-icons-container-half {
  position: absolute;
  width: 48%;
  color: rgb(158, 158, 158);

  top: 80%;
  display: flex;
  justify-content: space-evenly;
}

.jumbo-arrow {
  font-size: 3rem;
  cursor: pointer;
}

.jumbo-arrow:hover {
  color: rgb(198, 206, 207);
}
