.login-user {
  justify-content: center;
  background-color: #064453ab;

  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
}

.login-user-form {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem 0 0 0;
  border-radius: 1rem;
}

.login-header {
  width: 100%;

  border-radius: 1rem;

  padding: 4.5rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
}

.login-title {
  font-family: xtreem;
  color: #83a8b1;
  letter-spacing: 10px;
  text-shadow: 1px 1px #999999;
  font-size: 3.5rem;
  margin: 0 0 0rem 0;
}

.login-icon-input {
  position: relative;
}

.login-email,
.login-password {
  height: 3rem;
  width: 20rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  outline: none;
  background: #afcfd7;

  border: 1px #00aad5 solid;
  padding-left: 2rem;

  &:hover {
    box-shadow: 1px 1px 3px #bababa6d, 0 0 5px #6464d7;
    border: 1.1px #1a0c0c solid;
    background-color: #dcdcdc;
  }
}

.login-submit-button {
  background-color: #1f7085;
  height: 3rem;
  width: 8.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: rgb(38, 69, 94);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: #83a8b1;
    background-color: rgb(47, 100, 150);
  }
}

.login-submit-button i {
  margin-left: 0.3rem;
}

.error-message {
  margin: 0 0 0.5rem 0;
  text-align: center;
  color: crimson;
}

.register-redirect {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #478898;
  cursor: pointer;
  transition: 0.3s;
}

.register-redirect:hover {
  text-decoration-line: underline;
  color: #00aad5;
}
