.login-user {
  width: 50vw;
  justify-content: center;
  background-color: #064453ab;
}

.login-user-form {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem 0 0 0;
}

.login-header {
  width: 100%;
  background-color: #075669ab;

  padding: 6.5rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
}

.login-title {
  font-family: xtreem;
  color: #83a8b1;
  letter-spacing: 10px;
  text-shadow: 1px 1px #999999;
  font-size: 3.5rem;
  margin: 0 0 1rem 0;
}

.login-email {
  height: 3rem;
  width: 25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px #00aad5 solid;
  padding-left: 1rem;
}

.login-password {
  height: 3rem;
  width: 25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px #00aad5 solid;
  padding-left: 1rem;
}

.login-submit-button {
  background-color: #00aad5;
  height: 3rem;
  width: 25rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
}

.error-message {
  margin: 0 0 0.5rem 0;
  text-align: center;
  color: crimson;
}
