.slide {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: top center; }

.jumbotron-overlay {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background: rgba(0, 0, 0, 0.5); }

.inner-content {
  padding: 2rem; }

.jumbo-right {
  width: 28rem;
  line-height: 2rem;
  font-size: 0.9rem;
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0 1rem; }

.fa-youtube {
  font-size: 2rem;
  color: #d6d6d6;
  cursor: pointer; }

.fa-youtube:hover {
  color: white; }

.jumbo-left {
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center; }

.jumbo-text-container {
  color: #fff;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 60px;
  justify-content: center; }
  .jumbo-text-container .jumbo-title {
    font-size: 3.5rem;
    margin: 0; }
  .jumbo-text-container .jumbo-title-half {
    font-size: 2rem; }
  .jumbo-text-container .jumbo-release-date {
    font-size: 1.5rem; }
  .jumbo-text-container .star-rating {
    font-size: 1.5rem; }

@media screen and (max-width: 395px) {
  .jumbo-text-container h1 {
    text-align: center; }
  .jumbo-text-container .star-rating {
    font-size: 1rem; }
  .jumbo-text-container .jumbo-release-date {
    font-size: 1rem; }
  .jumbo-text-container .jumbo-overview {
    font-size: 0.7rem; } }
