.fa-search {
  position: absolute;
  font-size: 1.7rem;
  left: 2rem;
  top: 6rem;
  color: black; }

.filter-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.7rem;
  left: 2rem;
  top: 6rem; }
