.filter-container {
  position: relative;
}

.fa-search {
  position: absolute;
  font-size: 1.7rem;
  left: 1rem;
  top: 6rem;
  color: rgb(0, 0, 0);
}

.filter-form {
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  font-size: 1.7rem;
  top: 1rem;
  left: 50%;
  margin: 0 0 0 -8.5rem;
}

.movie-input {
  height: 2.5rem;
  width: 17rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px #00aad5 solid;
  padding-left: 1rem;
  background-color: rgb(239, 246, 255);
}

.movie-input:hover {
  background-color: rgb(203, 222, 240);
}

.search-button {
  position: absolute;
  background-color: white;
  height: 2.3rem;
  top: 0.1rem;
  right: 0.1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(239, 246, 255);
}

.search-button:hover {
  background-color: rgb(203, 222, 240);
}
